<div class="location-forecast d-flex flex-column flex-grow">

    <ng-container *ngIf="location">

        <div class="location d-flex justify-content-between align-items-stretch" (dblclick)="toggleCollapse()">

            <div class="d-flex flex-column px-2 py-1 text-light flex-grow-1">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="location-name">{{location.name}} <small class="ms-1">({{location.country_code}})</small></span>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="flag-container me-2">
                        <i class="flag-icon flag-icon-{{location.country_code.toLowerCase()}}"></i>
                    </div>
                    <small class="flex-grow-1" title="{{((location.admin2)?location.admin2:'')+((location.admin2 && location.admin1)?', ':'')+((location.admin1)?location.admin1:'')+' ('+location.country+')'}}">
                        <span *ngIf="location.admin1">{{location.admin1}}</span> 
                        <span class="ms-1">({{location.country}})</span>
                    </small>
                </div>
            </div>

            <div class="d-flex text-light py-2 pe-1">
                <div class="temperature d-flex align-items-center text-light me-3" style="color:{{getTemperatureColor(currentForecast.temperature_2m)}} !important">
                    {{currentForecast.temperature_2m}}{{forecast?.hourly_units?.temperature_2m}}
                </div>
                <div class="d-flex flex-column justify-content-around align-items-center px-1">
                    <div class="d-flex w-100 justify-content-around align-items-center">
                        <i class="fas cursor-pointer me-1" [ngClass]="{'fa-chevron-down': collapsed, 'fa-chevron-up': !collapsed}" (click)="toggleCollapse()"></i>
                        <i class="fas fa-close cursor-pointer" (click)="removeLocation()"></i>
                    </div>
                    <div class="d-flex mt-2"><small>{{getCurrentLocaleHour()}}</small></div>
                </div>
            </div>

        </div>


    </ng-container>

    <ng-container *ngIf="forecast && !collapsed && blocksSort">

        <div class="forecast d-flex flex-column justify-content-start align-items-start">
            <div class="block d-flex flex-column px-2 w-100 py-2 bg{{bgIndex}} additional-info">
                <span>Latitude: {{forecast.latitude}}</span>
                <span>Longitude: {{forecast.longitude}}</span>
                <span>Elevation: {{forecast.elevation}}m</span>
            </div>
            <div class="block d-flex p-0 w-100">
                
                <accordion>

                    <ng-container *ngFor="let block of blocksSort" [ngSwitch]="block">

                        <accordion-group *ngSwitchCase="'temperature'">
                            <div class="d-flex justify-content-between align-items-center w-100" accordion-heading>
                                <span>Temperature</span>
                                <span>{{currentForecast.temperature_2m}}{{forecast.hourly_units.temperature_2m}}</span>
                            </div>
                            <ng-container *ngIf="chartTemperatureOptions; else loader">
                                <highcharts-chart 
                                    [Highcharts]="Highcharts"
                                    [options]="chartTemperatureOptions"
                                    style="width: 100%; height: 200px; display: block;"
                                ></highcharts-chart>
                            </ng-container>
                        </accordion-group>
    
                        <accordion-group *ngSwitchCase="'apparent-temperature'">
                            <div class="d-flex justify-content-between align-items-center w-100" accordion-heading>
                                <span>Apparent temperature</span>
                                <span>{{currentForecast.apparent_temperature}}{{forecast.hourly_units.apparent_temperature}}</span>
                            </div>
                            <ng-container *ngIf="chartApparentTemperatureOptions; else loader">
                                <highcharts-chart 
                                    [Highcharts]="Highcharts"
                                    [options]="chartApparentTemperatureOptions"
                                    style="width: 100%; height: 200px; display: block;"
                                ></highcharts-chart>
                            </ng-container>
                        </accordion-group>
    
                        <accordion-group *ngSwitchCase="'precipitation'">
                            <div class="d-flex justify-content-between align-items-center w-100" accordion-heading>
                                <span>Precipitation</span>
                                <span>{{currentForecast.precipitation}}{{forecast.hourly_units.precipitation}}</span>
                            </div>
                            <ng-container *ngIf="chartPrecipitationOptions; else loader">
                                <highcharts-chart 
                                    [Highcharts]="Highcharts"
                                    [options]="chartPrecipitationOptions"
                                    style="width: 100%; height: 200px; display: block;"
                                ></highcharts-chart>
                            </ng-container>
                        </accordion-group>
    
                        <accordion-group *ngSwitchCase="'precipitation-probability'">
                            <div class="d-flex justify-content-between align-items-center w-100" accordion-heading>
                                <span>Precipitation probability</span>
                                <span>{{currentForecast.precipitation_probability}}{{forecast.hourly_units.precipitation_probability}}</span>
                            </div>
                            <ng-container *ngIf="chartPrecipitationProbabilityOptions; else loader">
                                <highcharts-chart 
                                    [Highcharts]="Highcharts"
                                    [options]="chartPrecipitationProbabilityOptions"
                                    style="width: 100%; height: 200px; display: block;"
                                ></highcharts-chart>
                            </ng-container>
                        </accordion-group>

                    </ng-container>
                    
                  </accordion>

            </div>
        </div>

    </ng-container>
    
</div>

<ng-template #loader>
    <div class="loader w-100 h-100 d-flex p-3">Loading...</div>
</ng-template>