<div class="w-100 p-4">
    <form role="form" [formGroup]="form">
        <div class="d-flex justify-content-between align-items-center">
            <input class="search-input form-control" (focus)="searchLocations();" formControlName="locationSearch" placeholder="Type a location to search" #searchInput>
            
            <div ngbDropdown class="d-inline-block ms-3 ">
                <button type="button" class="btn" id="dropdownBasic1" [disabled]="selectedLocations.length===0" ngbDropdownToggle>
                    <i class="fas fa-bars text-light"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <ng-container *ngIf="viewType==='TABLE'">
                        <button ngbDropdownItem class="p-2" (click)="viewType='WIDGETS'">
                            View as widgets
                        </button>
                    </ng-container>                    
                    <ng-container *ngIf="viewType==='WIDGETS'">
                        <button ngbDropdownItem class="p-2" (click)="viewType='TABLE'">
                            View as table
                        </button>
                        <button ngbDropdownItem class="p-2" (click)="sortBy('location')">
                            Sort by location 
                            <i *ngIf="sortConfig.field==='location'" class="fas ms-2" [ngClass]="{'fa-arrow-up': sortConfig.dir==='DESC', 'fa-arrow-down': sortConfig.dir==='ASC'}"></i>
                        </button>
                        <button ngbDropdownItem class="p-2" (click)="sortBy('temperature')">
                            Sort by temperature 
                            <i *ngIf="sortConfig.field==='temperature'" class="fas ms-2" [ngClass]="{'fa-arrow-up': sortConfig.dir==='DESC', 'fa-arrow-down': sortConfig.dir==='ASC'}"></i>
                        </button>
                        <button ngbDropdownItem class="p-2" (click)="setDragable(!dragableWidgets)">
                            <span *ngIf="dragableWidgets">Disable drag & drop</span>
                            <span *ngIf="!dragableWidgets">Enable drag & drop</span>
                        </button>
                    </ng-container>
                </div>
            </div>
        </div>
    </form>

    <ng-container *ngIf="getNumAddableLocations()>0">
        <div class="d-flex flex-column pt-2 px-0 mt-1 selector" (mouseleave)="locations=[]">
            <ng-container *ngFor="let location of locations">
                <ng-container *ngIf="!isAddedLocation(location.id)">
                    <span (click)="addLocation(location)" class="location-search-result px-2 py-2 cursor-pointer"><i class="flag-icon flag-icon-{{location.country_code.toLowerCase()}} me-2"></i>{{location.name}}, {{location.admin1}} ({{location.country + ', ' + location.country_code}})</span>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>

    <ng-container *ngIf="selectedLocations.length>0 && locations">

        <div class="d-flex flex-column justify-content-start align-items-start w-100 px-0 mt-3" *ngIf="getLocationsAlerts().length>0">
            <button class="btn btn-sm btn-danger w-100" (click)="showAlerts=!showAlerts">
                <span class="fas fa-warning fa-beat-fade me-2"></span>
                {{getLocationsAlerts().length}} location alerts
                <span class="ms-2 fas" [ngClass]="{'fa-chevron-down': !showAlerts,'fa-chevron-up': showAlerts}"></span>
            </button>
            <div class="d-flex w-100 mt-2" *ngIf="showAlerts">
                <ng-container [ngTemplateOutlet]="alerts"></ng-container>
            </div>
        </div>

        <ng-container *ngIf="viewType==='WIDGETS'">
            <ng-container *ngIf="selectedLocations.length>1">
                <div class="d-flex flex-wrap justify-content-start align-items-start w-100 p-0 mt-3">
                    <app-forecast-comparison-widget
                        #comparisonWidget
                        class="flex-grow"
                        [locations]="selectedLocations" 
                        [locationsForecasts]="forecasts"
                        [blocksSort]="sortConfig.blocks">
                    </app-forecast-comparison-widget>
                </div>
            </ng-container>
            <div class="d-flex flex-wrap justify-content-start align-items-start w-100 p-0 mt-3" style="gap: 10px;" 
            [dragula]="dragableWidgets ? 'WIDGETS' : undefined" 
            [(dragulaModel)]="selectedLocations">
                <ng-container *ngFor="let location of selectedLocations">
                    <app-forecast-widget 
                        class="flex-grow"
                        *ngIf="getForecast(location.id)" 
                        [location]="location" 
                        [forecast]="getForecast(location.id)"
                        [blocksSort]="sortConfig.blocks"
                        (onRemove)="removeLocation($event)">
                    </app-forecast-widget>
                </ng-container>
            </div>
        </ng-container>

        <ng-container *ngIf="viewType==='TABLE'">
            <div class="d-flex flex-wrap justify-content-start align-items-start w-100 p-0 mt-3">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="px-0 pb-2" style="z-index: 1001;" [attr.colspan]="tableViewType==='GENERAL'?9:14">
                                <div class="d-flex justify-content-between w-100">
                                    <div ngbDropdown class="d-inline-block ms-3 mb-2">
                                        <button type="button" class="btn" id="dropdownBasic2" [disabled]="selectedLocations.length===0" ngbDropdownToggle>
                                            <span *ngIf="tableViewType==='GENERAL'">General</span>
                                            <span *ngIf="tableViewType==='TEMPERATURE'">Temperature <small>(ºC)</small></span>
                                            <span *ngIf="tableViewType==='APPARENT_TEMPERATURE'">Apparent temperature <small>(ºC)</small></span>
                                            <span *ngIf="tableViewType==='PRECIPITATION'">Precipitation <small>(mm)</small></span>
                                            <span *ngIf="tableViewType==='PRECIPITATION_PROBABILITY'">Precipitation probability <small>(%)</small></span>
                                            <span *ngIf="tableViewType==='WIND_SPEED'">Wind speed <small>(Km/h)</small></span>
                                        </button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                                            <button ngbDropdownItem class="p-2" *ngIf="tableViewType!=='GENERAL'" (click)="tableViewType='GENERAL'">
                                                General
                                            </button>
                                            <button ngbDropdownItem class="p-2" *ngIf="tableViewType!=='TEMPERATURE'" (click)="tableViewType='TEMPERATURE'">
                                                Temperature <small>(ºC)</small>
                                            </button>
                                            <button ngbDropdownItem class="p-2" *ngIf="tableViewType!=='APPARENT_TEMPERATURE'" (click)="tableViewType='APPARENT_TEMPERATURE'">
                                                Apparent temperature <small>(ºC)</small>
                                            </button>
                                            <button ngbDropdownItem class="p-2" *ngIf="tableViewType!=='PRECIPITATION'" (click)="tableViewType='PRECIPITATION'">
                                                Precipitation <small>(mm)</small>
                                            </button>
                                            <button ngbDropdownItem class="p-2" *ngIf="tableViewType!=='PRECIPITATION_PROBABILITY'" (click)="tableViewType='PRECIPITATION_PROBABILITY'">
                                                Precipitation probability <small>(%)</small>
                                            </button>
                                            <button ngbDropdownItem class="p-2" *ngIf="tableViewType!=='WIND_SPEED'" (click)="tableViewType='WIND_SPEED'">
                                                Wind speed <small>(Km/h)</small>
                                            </button>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="tableViewType==='GENERAL' && !isMobile">
                                        <div ngbDropdown class="d-inline-block me-3 mb-2">
                                            <button type="button" class="btn" id="dropdownBasic3" [disabled]="selectedLocations.length===0" ngbDropdownToggle>
                                                <span *ngIf="generalTableViewType==='TABLE'">Table</span>
                                                <span *ngIf="generalTableViewType==='MAP'">Map</span>
                                            </button>
                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                                                <button ngbDropdownItem class="p-2" *ngIf="generalTableViewType!=='TABLE'" (click)="generalTableViewType='TABLE'">
                                                    Table
                                                </button>
                                                <button ngbDropdownItem class="p-2" *ngIf="generalTableViewType!=='MAP'" (click)="generalTableViewType='MAP';initMap()">
                                                    Map
                                                </button>                                            
                                            </div>
                                        </div>
                                    </ng-container>    
                                </div>             
                            </th>
                        </tr>
                        <tr *ngIf="tableViewType==='GENERAL' && generalTableViewType==='TABLE'" style="top:-1px;">
                            <th class="text-center cursor-pointer country" (click)="sortBy('country')">
                                Country
                                <ng-container [ngTemplateOutlet]="sortInfo" [ngTemplateOutletContext]="{column: 'country'}"></ng-container>
                            </th>
                            <th class="cursor-pointer" (click)="sortBy('location')">
                                Location
                                <ng-container [ngTemplateOutlet]="sortInfo" [ngTemplateOutletContext]="{column: 'location'}"></ng-container>
                            </th>
                            <th class="text-end" title="Time">
                                Time
                            </th>
                            <th class="text-end cursor-pointer" title="Temperature" (click)="sortBy('temperature')">
                                Temp.
                                <ng-container [ngTemplateOutlet]="sortInfo" [ngTemplateOutletContext]="{column: 'temperature'}"></ng-container>
                            </th>
                            <th class="text-end cursor-pointer" title="Apparent temperature" (click)="sortBy('apparent_temperature')">
                                App. Temp.
                                <ng-container [ngTemplateOutlet]="sortInfo" [ngTemplateOutletContext]="{column: 'apparent_temperature'}"></ng-container>
                            </th>
                            <th class="text-end cursor-pointer" title="Precipitation" (click)="sortBy('precipitation')">
                                Pre.
                                <ng-container [ngTemplateOutlet]="sortInfo" [ngTemplateOutletContext]="{column: 'precipitation'}"></ng-container>
                            </th>
                            <th class="text-end cursor-pointer" title="Precipitation probability" (click)="sortBy('precipitation_probability')">
                                Pre. Prob.
                                <ng-container [ngTemplateOutlet]="sortInfo" [ngTemplateOutletContext]="{column: 'precipitation_probability'}"></ng-container>
                            </th>
                            <th class="text-end cursor-pointer" title="Wind speed" (click)="sortBy('wind_speed')">
                                Wind speed
                                <ng-container [ngTemplateOutlet]="sortInfo" [ngTemplateOutletContext]="{column: 'wind_speed'}"></ng-container>
                            </th>
                            <th></th>
                        </tr>
                        <tr [hidden]="tableViewType!=='GENERAL' || generalTableViewType!=='MAP'">
                            <th colspan="9">
                                <div class="map" id="map">Map here</div>
                            </th>
                        </tr>
                        <tr *ngIf="tableViewType!=='GENERAL'" style="top:-1px;">
                            <th class="text-center cursor-pointer country" (click)="sortBy('country')">
                                Country
                                <ng-container [ngTemplateOutlet]="sortInfo" [ngTemplateOutletContext]="{column: 'country'}"></ng-container>
                            </th>
                            <th class="cursor-pointer" (click)="sortBy('location')">
                                Location
                                <ng-container [ngTemplateOutlet]="sortInfo" [ngTemplateOutletContext]="{column: 'location'}"></ng-container>
                            </th>
                            <ng-container *ngIf="selectedLocations.length===0 || !getForecast(selectedLocations[0].id)">
                                <th colspan="10">
                                    date
                                </th>
                            </ng-container>
                            <ng-container *ngIf="selectedLocations.length>0 && getForecast(selectedLocations[0].id)">
                                <ng-container *ngFor="let time of getForecast(selectedLocations[0].id)?.hourly?.time; let idx = index;">
                                    <th class="text-end cursor-pointer"
                                        (click)="sortBy(undefined, undefined, time)" 
                                        [ngClass]="{'current_time':idx===tableColumnIndexFrom+3}" 
                                        *ngIf="idx>=tableColumnIndexFrom && idx<tableColumnIndexFrom+10">
                                            {{getDateStr(time)}}
                                            <ng-container [ngTemplateOutlet]="sortInfo" [ngTemplateOutletContext]="{column: tableViewType.toLowerCase(), dateStr: time}"></ng-container>
                                    </th>
                                </ng-container>
                            </ng-container>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="tableViewType!=='GENERAL' || generalTableViewType!=='MAP'">
                            <ng-container 
                            [ngTemplateOutlet]="forecastRow" 
                            [ngTemplateOutletContext]="{
                                location: location,
                                rowIndex: locationIndex,
                                forecast: getForecast(location.id),
                                currentForecast: getCurrentForecast(getForecast(location.id)),
                                forecastUnits: getForecast(location.id)?.hourly_units
                            }"
                            *ngFor="let location of selectedLocations; let locationIndex = index;"></ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>            
        </ng-container>        

    </ng-container>
    <ng-container *ngIf="selectedLocations.length===0">
        <div class="d-flex flex-column w-100 p-2 mt-1 text-white">No locations selected</div>
    </ng-container>
</div>

<ng-template let-location="location" let-currentForecast="currentForecast" let-forecast="forecast" let-forecastUnits="forecastUnits" let-rowIndex="rowIndex" #forecastRow>
    <ng-container *ngIf="currentForecast">
        <tr *ngIf="tableViewType==='GENERAL'" 
            [ngClass]="{'selectedLocation': selectedLocation===location.id}"
            (click)="toggleSelectedLocation(location.id)">
            <td class="text-center">
                <i class="flag-icon flag-icon-{{location.country_code.toLowerCase()}}" title="{{location.country}}"></i>
            </td>
            <td>                
                {{location.name}} <span class="country_code"><small>({{location.country_code.toLowerCase()}})</small></span>
            </td>
            <td class="text-end">                
                {{getLocationLocaleHour(location)}} h.
            </td>
            <td class="text-end">
                <ng-container [ngTemplateOutlet]="alertInfo" [ngTemplateOutletContext]="{column:'TEMPERATURE', value: currentForecast.temperature_2m}"></ng-container>
                {{currentForecast.temperature_2m | number : '1.1-2'}} {{forecastUnits?.temperature_2m}}
            </td>
            <td class="text-end">
                <ng-container [ngTemplateOutlet]="alertInfo" [ngTemplateOutletContext]="{column:'APPARENT_TEMPERATURE', value: currentForecast.apparent_temperature}"></ng-container>
                {{currentForecast.apparent_temperature | number : '1.1-2'}} {{forecastUnits?.apparent_temperature}}
            </td>
            <td class="text-end">
                <ng-container [ngTemplateOutlet]="alertInfo" [ngTemplateOutletContext]="{column:'PRECIPITATION', value: currentForecast.precipitation}"></ng-container>
                {{currentForecast.precipitation | number : '1.1-2'}} {{forecastUnits?.precipitation}}
            </td>
            <td class="text-end">
                <ng-container [ngTemplateOutlet]="alertInfo" [ngTemplateOutletContext]="{column:'PRECIPITATION_PROBABILITY', value: currentForecast.precipitation_probability}"></ng-container>
                {{currentForecast.precipitation_probability | number : '1.1-2'}} {{forecastUnits?.precipitation_probability}}
            </td>
            <td class="text-end">
                <ng-container [ngTemplateOutlet]="alertInfo" [ngTemplateOutletContext]="{column:'WIND_SPEED', value: currentForecast.windspeed_10m}"></ng-container>
                {{currentForecast.windspeed_10m | number : '1.1-2'}} {{forecastUnits?.windspeed_10m}}
            </td>
            <td class="text-end">
                <i class="fas fa-close cursor-pointer" title="Remove location" (click)="removeLocation(location.id)"></i>
            </td>
        </tr>
        <tr *ngIf="tableViewType!=='GENERAL'" 
            [ngClass]="{'selectedLocation': selectedLocation===location.id}"
            (click)="toggleSelectedLocation(location.id)">
            <td class="text-center">
                <i class="flag-icon flag-icon-{{location.country_code.toLowerCase()}}" title="{{location.country}}"></i>
            </td>
            <td>                
                {{location.name}} <span class="country_code"><small>({{location.country_code.toLowerCase()}})</small></span>
            </td>
            <ng-container *ngIf="selectedLocations.length===0 || !getForecast(selectedLocations[0].id)">
                <td colspan="10">value</td>
            </ng-container>
            <ng-container *ngIf="selectedLocations.length>0 && getForecast(selectedLocations[0].id)">
                <ng-container *ngFor="let value of getForecast(selectedLocations[0].id)?.hourly?.time; let idx = index;">
                    <td class="text-end" [ngClass]="{'current_time':idx===tableColumnIndexFrom+3}" *ngIf="idx>=tableColumnIndexFrom && idx<tableColumnIndexFrom+10">
                        <ng-container 
                            [ngTemplateOutlet]="alertInfo" 
                            [ngTemplateOutletContext]="{
                                column: tableViewType, 
                                value: getForecastValue(getForecast(selectedLocations[rowIndex].id)?.hourly, idx)
                            }">
                        </ng-container>
                        {{getForecastValue(getForecast(selectedLocations[rowIndex].id)?.hourly, idx) | number : '1.1-2'}}
                    </td>
                </ng-container>
            </ng-container>
            <td class="text-end"><i class="fas fa-close cursor-pointer" title="Remove location" (click)="removeLocation(location.id)"></i></td>
        </tr>
    </ng-container>
    <ng-container *ngIf="!currentForecast || !forecast">
        <tr *ngIf="tableViewType==='GENERAL'">
            <td colspan="13">Loading forecast...</td>
        </tr>
        <tr *ngIf="tableViewType!=='GENERAL'">
            <td colspan="13">Loadng forecast...</td>
        </tr>
    </ng-container>
</ng-template>

<ng-template let-column="column" let-dateStr="dateStr" #sortInfo>
    <ng-container *ngIf="sortConfig.field===column && (!dateStr || (dateStr ===sortConfig.dateStr))">
        <i class="fas fa-chevron-down ms-2" *ngIf="sortConfig.dir==='DESC'"></i>
        <i class="fas fa-chevron-up ms-2" *ngIf="sortConfig.dir==='ASC'"></i>
    </ng-container>
</ng-template>

<ng-template let-column="column" let-value="value" #alertInfo>
    <ng-container *ngIf="(column==='TEMPERATURE' || column==='APPARENT_TEMPERATURE') && (value<=alertLimits.temperature.warningLow || value>=alertLimits.temperature.warningHigh)">
        <span class="me-1 fas fa-warning" [ngClass]="{
            'text-warning':(value<=alertLimits.temperature.warningLow && value>alertLimits.temperature.dangerLow) || (value>=alertLimits.temperature.warningHigh && value<alertLimits.temperature.dangerHigh), 
            'text-danger fa-beat-fade': (value>=alertLimits.temperature.dangerHigh || value<=alertLimits.temperature.dangerLow)
        }"></span>
    </ng-container>
    <ng-container *ngIf="column==='PRECIPITATION' && value>=alertLimits.precipitation.warning">
        <span class="me-1 fas fa-warning" [ngClass]="{
            'text-warning':(value<alertLimits.precipitation.danger && value>=alertLimits.precipitation.warning), 
            'text-danger fa-beat-fade': (value>=alertLimits.precipitation.danger)
        }"></span>
    </ng-container>
    <ng-container *ngIf="column==='PRECIPITATION_PROBABILITY' && value>=alertLimits.precipitation_probability.warning">
        <span class="me-1 fas fa-warning text-warning"></span>
    </ng-container>
    <ng-container *ngIf="column==='WIND_SPEED' && value>=alertLimits.wind_speed.warning">
        <span class="me-1 fas fa-warning" [ngClass]="{
            'text-warning':value>=alertLimits.wind_speed.warning && value<alertLimits.wind_speed.danger, 
            'text-danger fa-beat-fade': value>=alertLimits.wind_speed.danger
        }"></span>
    </ng-container>
</ng-template>

<ng-template #alerts>
    <div class="d-flex flex-column w-100 p-2">

        <table>
            <tbody>
                <ng-container *ngFor="let locationAlert of getLocationsAlerts()">
                    <tr>
                        <td class="text-light w-20">
                            {{locationAlert.location.name}} <small class="ms-2">({{locationAlert.location.country_code}})</small>
                        </td>
                        <td>
                            <div class="d-flex justify-content-start">
                                <ng-container *ngFor="let alert of locationAlert.alerts">

                                    <ng-container *ngIf="alert.type==='temperature'">
                                        <ng-container *ngIf="alert.value>=alertLimits.temperature.dangerHigh">
                                            <div class="badge badge-pill badge-danger-outset me-1 cursor-pointer" 
                                            (click)="goToAlert(alert.type, locationAlert.location.id, 'DESC')">
                                                <span class="fas fa-temperature-high me-1 text-danger"></span>
                                                Temperature >= {{alertLimits.temperature.dangerHigh}}ºC
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="alert.value<=alertLimits.temperature.dangerLow">
                                            <div class="badge badge-pill badge-info-outset me-1 cursor-pointer"
                                            (click)="goToAlert(alert.type, locationAlert.location.id, 'ASC')">
                                                <span class="fas fa-temperature-low me-1 text-info"></span>
                                                Temperature <= {{alertLimits.temperature.dangerLow}}ºC
                                            </div>
                                        </ng-container>
                                    </ng-container>

                                    <ng-container *ngIf="alert.type==='apparent_temperature'">
                                        <ng-container *ngIf="alert.value>=alertLimits.temperature.dangerHigh">
                                            <div class="badge badge-pill badge-danger-outset me-1 cursor-pointer"
                                            (click)="goToAlert(alert.type, locationAlert.location.id, 'DESC')">
                                                <span class="fas fa-temperature-high me-1 text-danger"></span>
                                                Apparent temperature >= {{alertLimits.temperature.dangerHigh}}ºC
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="alert.value<=alertLimits.temperature.dangerLow">
                                            <div class="badge badge-pill badge-info-outset me-1 cursor-pointer"
                                            (click)="goToAlert(alert.type, locationAlert.location.id, 'ASC')">
                                                <span class="fas fa-temperature-low me-1 text-info"></span>
                                                Apparent temperature <= {{alertLimits.temperature.dangerLow}}ºC
                                            </div>
                                        </ng-container>
                                    </ng-container>

                                    <ng-container *ngIf="alert.type==='precipitation'">
                                        <div class="badge badge-pill badge-danger-outset me-1 cursor-pointer"
                                        (click)="goToAlert(alert.type, locationAlert.location.id, 'DESC')">
                                            <span *ngIf="alert.value>=alertLimits.precipitation.danger">
                                                <span class="fas fa-cloud-rain me-1 text-info"></span>
                                                Precipitation >= {{alertLimits.precipitation.danger}} mm
                                            </span>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="alert.type==='wind_speed'">
                                        <div class="badge badge-pill badge-danger-outset me-1 cursor-pointer"
                                        (click)="goToAlert(alert.type, locationAlert.location.id, 'DESC')">
                                            <span *ngIf="alert.value>=alertLimits.wind_speed.danger">
                                                <span class="fas fa-wind me-1"></span>
                                                Wind speed >= {{alertLimits.wind_speed.danger}} Km/h
                                            </span>
                                        </div>                                        
                                    </ng-container>
                                    
                                </ng-container>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</ng-template>