:host {
    width: 100%M
}

input {
    &.search-input {
        min-width: 260px;
    }
}

.fa-bars {
    font-size: 24px;
}

.table_title {
    color: orange;
}

.table {
    color: #ccc;
    thead {
        background-color: #444;
        position: sticky;
        top: 0px;
        z-index: 1000;

        tr {
            background-color: #333;
            th {
                &.current_time {
                    /* color: gold; */
                    background-color: #444;
                }
                &.country {
                    width: 85px;
                }
            }

            &:first-child {
                background-color: transparent;
            }

            &:not(:first-child){
                position: relative;
                top: -1px;
            }
        }
    }
    tbody {
        color: #fff;
        tr {
            td {
                color: #fff;
                span.country_code {
                    color: #ccc;
                }

                &.current_time {
                    /* color: gold; */
                    background-color: #6C6C6C;
                }
            }
        }
    }
}

tr>th:first-child,tr>td:first-child {
    position: sticky;
    left: 0;
}

.badge {
    font-size: 11px;
    padding: 8px 10px;
    &.badge-pill {
        border: 1px solid transparent;
        color: #666;
        &.badge-danger {
            border: 1px solid #dc0028;
            color: #fff;
        }
        &.badge-danger-outset {
            border: 1px solid #dc0028;
            background-color: #fff;
        }
        &.badge-info {
            border: 1px solid #0dcaf0;
            color: #fff;
        }
        &.badge-info-outset {
            border: 1px solid #0dcaf0;
            background-color: #fff;
        }
    }
}