/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Importing NGSELECT CSS file. */
@import "~@ng-select/ng-select/themes/default.theme.css";

@import "~flag-icon-css/css/flag-icon.min.css";

@import "themes/accordion.scss";
@import "themes/dragula.scss";

body {
    font-size: 13px;
    background-color: #444;
    font-family: Arial, Helvetica, sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

/* Widths */
.w-0 { width: 0%; }
.w-5 { width: 5%; }
.w-10 { width: 10%; }
.w-11 { width: 11%; }
.w-12 { width: 12%; }
.w-13 { width: 13%; }
.w-14 { width: 14%; }
.w-15 { width: 15%; }
.w-16 { width: 16%; }
.w-17 { width: 17%; }
.w-18 { width: 18%; }
.w-19 { width: 19%; }
.w-20 { width: 20%; }
.w-24 { width: 24%; }
.w-25 { width: 25%; }
.w-30 { width: 30%; }
.w-33 { width: 33%; }
.w-35 { width: 35%; }
.w-40 { width: 40%; }
.w-45 { width: 45%; }
.w-50 { width: 50%; }
.w-55 { width: 55%; }
.w-60 { width: 60%; }
.w-65 { width: 65%; }
.w-70 { width: 70%; }
.w-75 { width: 75%; }
.w-80 { width: 80%; }
.w-85 { width: 85%; }
.w-90 { width: 90%; }
.w-95 { width: 95%; }
.w-100 { width: 100%; }

.selector {
    position: absolute;
    width: calc(100% - 33px);
    z-index: 1;
    border-radius: 8px;
    background-color: ghostwhite;
    border: 1px solid #ccc;
    font-size: 14px;

    span:not(:last-child) {
        border-bottom: 1px solid #ccc;
    }
}

.location-search-result {
    &:hover {
        background-color: #eee;
        font-weight: 500;
    }
}

.dropdown {
    button {

        &.btn {
            padding: 0;
            color: white !important;
            background-color: transparent !important;
            border-color: transparent !important;
    
            &:hover, &:active {
                color: white;
            }
        }
        
    }

    .dropdown-menu {
        padding: 0;
        overflow: hidden;
        background-color: #444;
        border-radius: 5px;
        font-size: 14px;
        border: 1px solid #ccc;

        .dropdown-item {
            font-size: 16px;

            &:not(:last-child) {
                border-bottom: 1px solid #ccc;
            }
        }

        button {
            color: #cfcbcb;
            &:hover {
                background-color: #333;
                color: #fff;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .dropdown-item {
        font-size: 16px;
    }
}