:host {
    
    @media only screen and (max-width: 600px) {
        width: 100%;
        min-width: 315px;
    }

    @media only screen and (min-width: 600px) {
        width: 100%;
        min-width: 310px;
    }
}

.location-forecast {
    border-radius: 5px;
    border: 1px solid #ccc;
    overflow:auto;

    .location{
        background-color: #333;

        .location-name { font-size: 18px; }
        .temperature { font-size: 28px; }

        small { 
            color: #cfcbcb;
            max-width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 12px;
        }
    }

    .forecast {
        background-color: white;
        /*background-image: url('./../../../../assets/img/sitges.jpeg');*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        

        .block {
            &:not(:last-child) {
                border-bottom: 1px solid #ccc;
            }
            &:first-child {
                color: inherit;
                filter: grayscale(0) !important;
                &.bg1 { background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url('./../../../../assets/img/bg1.jpeg'); }
                &.bg2 { background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url('./../../../../assets/img/bg2.jpeg'); }
                &.bg3 { background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url('./../../../../assets/img/bg3.jpeg'); }
                &.bg4 { background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url('./../../../../assets/img/bg4.jpeg'); }
                &.bg5 { background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url('./../../../../assets/img/bg5.jpeg'); }
                &.bg6 { background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url('./../../../../assets/img/bg6.jpeg'); }
            }
            
            accordion {
                width: 100%;

                .panel {
                    border-radius: 0px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    i.fa-chevron-down, i.fa-chevron-up { display: none; }
    i.fa-close { font-size: 18px; }


    small { 
        max-width: 120px !important;
    }

    .additional-info {
        display: none !important;
    }
}